apiVersion: v1
kind: Service
metadata:
  name: workflow-schema-viewer
  namespace: "{{ .Release.Namespace }}"
spec:
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: workflow-schema-viewer
